<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nutritrack"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.target.TargetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.evaluasi.EvaluasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rasio.ProgressRasioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recipe.DetailRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.result.QuestionResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.question.QuestFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.question.QuestDailyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.question.QuestWaterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.data.PersonalDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signuser.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signuser.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.landingpage.LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>